body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

.box {
    display: inline-block;
    background-color: black;
    border: 2px solid white;  
    text-align: center;
    width: 175px;
    margin: 10px;
}

a {
    color: white; 
    text-decoration: none;
}

.hover {
    border-color: red;
    color: red;
}

