body {
    font-family: Arial, Helvetica, sans-serif;
}

select {
    margin: 10px;
    margin-left: 50px;
}
div {
    background-color:skyblue;
    width: 350px;
    padding-bottom: 50px;
    
}

input {
    background-color: rgba(255,255,255, 0.6);
}

input[type="text"]:focus {
    background-color: rgba(255,255,255, 0.9);
}